body{
    font-family: 'Mulish', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Rochester', cursive;
    background: #F6F6F6;
}

.header-icons{
    display: grid;
    width: 1440px;
    grid-template-columns: 200px 124px 20px 28px 28px;
}

.logo{
    margin-top: 16px;
    font-family: 'Rochester';
    font-weight: 400;
    font-size: 32px;
    line-height: 41px;
    color: #1B2437;
    width: 109px;
    height: 41px;
    margin-left: 165px;
}

.social-icons{
    margin-top: 27px;
    margin-left: 457px;
}

.search{
    margin-top: 22px;
    margin-left: 822px;
}

.recycle-bin{
    margin-top: 22px;
    margin-left: 852px;
}

.users{
    margin-top: 22px;
    margin-left: 882px;
}

.rectangle65{
    width: 1440px;
    height: 1px;
    left: 0px;
    top: 73px;
    background: #F3F3F3;
}

.title-navigation{
    display: grid;
    grid-template-columns: 76px 64px 56px 112px;
    margin-top: 23px;
}

a{
    text-decoration: none;
}

.home{
    font-family: 'Playfair Display';
    font-weight: 400;
    font-size: 28px;
    line-height: 37px;
    color: #000000;
    margin-left: 457px;
}

.home:hover{
    text-decoration: underline;
    color: #EDA3B5;
}

.shop{
    font-family: 'Playfair Display';
    font-weight: 400;
    font-size: 28px;
    line-height: 37px;
    color: #000000;
    margin-left: 538px;
}

.shop:hover{
    text-decoration: underline;
    color: #EDA3B5;
}

.blog{
    font-family: 'Playfair Display';
    font-weight: 400;
    font-size: 28px;
    line-height: 37px;
    color: #000000;
    margin-left: 618px;
}

.blog:hover{
    text-decoration: underline;
    color: #EDA3B5;
}

.contacts{
    font-family: 'Playfair Display';
    font-weight: 400;
    font-size: 28px;
    line-height: 37px;
    color: #000000;
    margin-left: 706px;
}

.contacts:hover{
    text-decoration: underline;
    color: #EDA3B5;
}

.block-one{
    display: grid;
    grid-template-rows: 73px 167px 124px;
    background: url(hero.png);
    margin-top: 10px;
}

.img-hero{
    width: 1439px;
    height: 569px;
}

.titile-block-one{
    width: 361px;
    font-family: 'Playfair Display';
    font-weight: 400;
    font-size: 48px;
    line-height: 67px;
    color: #FFFFFF;
    margin-left: 164px;
}

.paragraph-block-one{
    width: 446px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    margin-left: 164px;
    margin-top: 13px;
    letter-spacing: 0.35px;
}

.button-show-more{
    width: 255px;
    height: 77px;
    background: #1B2437;
    border-radius: 15px;
    font-family: 'Mulish';
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    margin-left: 164px;
    margin-top: 10px;
}

.button-show-more:hover{
    cursor: pointer;
}
.block-two{
    width: 80%;
    display: flex;
    margin-top: 189px;
}

.women-collection-category{
    width: 445px;
    height: 458px;
    background: url(./women_collection_category.png);
    border-radius: 16px;
    margin-left: 163px;
}

.title-women-collection-category{
    width: 188px;
    height: 90px;
    font-family: 'Playfair Display';
    font-weight: 900;
    font-size: 32px;
    line-height: 45px;
    color: #FFFFFF;
    margin-left: 32px;
    margin-top: 268px;
    margin-bottom: 0;
}

.paragraph-women-collection-category{
    margin: 0;
    font-family: 'Mulish';
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
    margin-left: 32px;
}

.button-popular{
    width: 93px;
    height: 30px;
    background: #afafaf;
    border-radius: 8px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #FFFFFF;
    border: 0;
    margin-left: 32px;
    margin-top: 8px;
}

.button-popular:hover{
    cursor: pointer;
}

.block-flex{
    display: flex;
}

.picture-white{
    width: 303px;
    height: 225px;
    background: #EFEFF4;
    border-radius: 16px;
    margin-left: 32px;
}

.paragraph-picture-white{
    font-family: 'Mulish';
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #1B2437;
    margin: 0;
    margin-left: 22px;
    margin-top: 53px;
}

.title-picture-white{
    font-family: 'Playfair Display';
    font-weight: 900;
    font-size: 32px;
    line-height: 45px;
    color: #1B2437;
    width: 188px;
    height: 90px;
    margin: 0;
    margin-left: 22px;
}

.dresses-category{
    width: 302px;
    height: 225px;
    background: url(dresses_category.png);
    border-radius: 16px;
    margin-left: 30px;
}

.paragraph-dresses-category{
    margin: 0;
    margin-top: 53px;
    margin-left: 39px;
    font-family: 'Mulish';
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
}

.title-dresses-category{
    margin: 0;
    margin-left: 39px;
    font-family: 'Playfair Display';
    font-weight: 900;
    font-size: 32px;
    line-height: 45px;
    color: #FFFFFF;
}
.denim-jackets-category{
    width: 635px;
    height: 204px;
    background: url(denim_jackets_category.png);
    border-radius: 16px;
    margin-left: 32px;
    margin-top: 30px;
}

.paragraph-denim-jackets-category{
    margin: 0;
    padding-top: 64px;
    margin-left: 22px;
    font-family: 'Mulish';
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #1B2437;
}

.title-denim-jackets-category{
    margin: 0;
    margin-left: 22px;
    font-family: 'Playfair Display';
    font-weight: 900;
    font-size: 32px;
    line-height: 45px;
    color: #1B2437;
}

.block-three{
    display: grid;
    grid-template-columns: 255px 255px 255px 255px;
    gap: 30px;
    margin-top: 30px;
    margin-left: 165px;
    font-family: 'Mulish';
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    background: #FFFFFF;
    border-radius: 16px;
    width: 1110px;
    height: 313px;
}

.img-louis-vouiton{
    margin-top: 40px;
    margin-left: 49px;
}

.title-louis-vouiton{
    margin-top: 29px;
    margin-left: 54px;
}

.img-dolce-gabbana{
    margin-top: 34px;
    margin-left: 77px;
}

.title-dolce-gabbana{
    margin-top: 29px;
    margin-left: 65px;
}

.img-gucci{
    margin-top: 57px;
    margin-left: 49px;
}

.title-gucci{
    margin-top: 53px;
    margin-left: 56px;
}

.img-dries-van-noten{
    margin-left: 80px;
    margin-top: 37px;
}

.title-dries-van-noten{
    margin-top: 35px;
    margin-left: 59px;
}
.slide{
    margin-left: 503px;
    padding-bottom: 30px;
}

.title-you-may-like{
    font-family: 'Playfair Display';
    font-weight: 600;
    font-size: 48px;
    line-height: 67px;
    color: #1B2437;
    margin-left: 165px;
}


.little{
    display: grid;
    grid-template-columns: 350px 350px 350px;
    gap: 30px;
}

.section-one{
    background: #FFFFFF;
    box-shadow: 2px 5px 45px rgba(237, 163, 181, 0.25);
    border-radius: 16px;
    margin-left: 165px;
    width: 350px;
    height: 487px;
}

.picture-vector-one{
    background: url(./Mask\ Group.png);
    width: 350px;
    height: 270px;
}

.price{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 30px;
    color: #000000;
    margin: 0;
    padding-left: 24px; 
    margin-top: 10px;
}

.button-shop-now{
    width: 153px;
    height: 58px;
    background: #1B2437;
    border-radius: 15px;
    font-family: 'Mulish';
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    border: 0;
    margin-left: 63px;
}

.button-shop-now:hover{
    background: #EDA3B5;
    cursor: pointer;
}

.picture-vector-two{
    background: url(./Mask\ Group2.png);
    width: 350px;
    height: 270px;
}

.vector{
    margin-left: 290px;
    margin-top: 16px;

}

.picture-vector-three{
    background: url(./Mask\ Group3.png);
    width: 350px;
    height: 270px;
}

.title-litle{
    font-family: 'Playfair Display';
    font-weight: 900;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    margin-left: 24px;
    margin-top: 16px;
}

.paragraph-litle{
    font-family: 'Mulish';
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color: #000000;
    margin-left: 24px;
    margin-top: 8px;
}

.button-grid{
    display: flex;
}

.section-two{
    background: #FFFFFF;
    border-radius: 16px;
    margin-left: 165px;
    width: 350px;
    height: 487px;
}

.section-three{
    background: #FFFFFF;
    border-radius: 16px;
    margin-left: 165px;
    width: 350px;
    height: 487px;
}

.section-four{
    background: #FFFFFF;
    box-shadow: 2px 5px 45px rgba(237, 163, 181, 0.25);
    border-radius: 16px;
    margin-left: 165px;
    margin-top: 30px;
    width: 350px;
    height: 487px;
}

.section-five{
    background: #FFFFFF;
    border-radius: 16px;
    margin-left: 165px;
    margin-top: 30px;
    width: 350px;
    height: 487px;
}

.section-six{
    background: #FFFFFF;
    border-radius: 16px;
    margin-left: 165px;
    margin-top: 30px;
    width: 350px;
    height: 487px;
}

.title-contacts{
    font-family: 'Playfair Display';
    font-weight: 600;
    font-size: 48px;
    line-height: 67px;
    color: #1B2437;
    margin: 0;
    padding-left: 165px;
    padding-top: 70px;
}

.block-five{
    width: 1110px;
    height: 658px;
    background: #FFFFFF;
    border-radius: 16px;
    margin-left: 165px;
    margin-top: 35px;
}

.img-vector-map{
    width: 1086px;
    height: 511px;
    margin-left: 12px;
    margin-top: 12px;
}

.addresses{
    display: grid;
    grid-template-columns: 100px 100px 150px;
}

.img-email{
    margin-left: 130px;
    margin-top: 28px;
}

.paragraph-email{
    font-family: 'Mulish';
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    margin-left: 122px;
}

.img-address{
    margin-left: 431px;
    margin-top: 28px;
}

.paragraph-address{
    font-family: 'Mulish';
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    margin-left: 418px;
}

.img-tel{
    margin-left: 767px;
    margin-top: 30px;
}

.paragraph-tel{
    font-family: 'Mulish';
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    width: 165px;
    margin-left: 705px;
    margin-top: 30px;
}

.footer{
    width: 1440px;
    height: 333px;
    background: #FFFFFF;
    margin-top: 70px;
    margin-bottom: 50px;
}
.logo-two{
    font-family: 'Rochester';
    font-weight: 400;
    font-size: 32px;
    line-height: 41px;
    color: #1B2437;
    margin-left: 165px;
    margin-top: 32px;
}

.paragraph-logo-two{
    width: 255px;
    height: 180px;
    font-family: 'Playfair Display';
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #5C5C5C;
    margin-left: 165px;
}

.hot-links{
    margin-left: 116px;
    margin-top: 45px;
}

.title-hot-links{
    margin: 0;
    font-family: 'Playfair Display';
    font-weight: 900;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
}

.list-hot-links{
    list-style-type: none;
    padding: 0;
    font-family: 'Mulish';
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    color: #8E8E93;
}

.more-info,.customer-care{
    margin-top: 45px;
    margin-left: 185px;
}

.title-more-info,.title-customer-care{
    margin: 0;
    font-family: 'Playfair Display';
    font-weight: 900;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
}

.list-more-info,.list-customer-care{
    list-style-type: none;
    padding: 0;
    font-family: 'Mulish';
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    color: #8E8E93;
}

.section-last{
    width: 1440px;
    height: 74px;
    background: #E5E5EA;
    display: grid;
    grid-template-columns: 600px 100px;
}

.paragraph-section-last{
    margin-left: 165px;
    margin-top: 22px;
    font-family: 'Mulish';
    font-weight: 700;
    font-size: 12px;
    line-height: 30px;
    color: #8E8E93;
}

.img-section-last{
    margin-left: 551px;
    margin-top: 32px;
}