body{
    background-color: rgb(40, 39, 39);
    color: rgb(137, 136, 136);
}
.table1{
    border: 0.5px solid white;
    margin-top: 50px;
    margin-left: 50px;
    width: 625px;
    text-align:left;
    color: rgb(137, 136, 136);
    border-radius: 3px;
}

.table1 tr{
    border:1px solid  rgb(130, 130, 130);
}

.table1 th{
    font-weight:normal;
    font-size:14px; 
    
}
.table1 td{
    font-size:13px; 
}

.table1 td,.table1 th{
    width: 125px;
    padding: 6px;
}  

.table1 tr:hover td{
    cursor:default;
}

.text{
    display: flex;
}

.img{
    width: 10px;
    height: 10px;
}

form.example input[type=text] {
    font-size: 13px;
    border: 0px solid rgb(130, 130, 130);
    float: left;
    width: 100%;
    height: 20px;  
    border-radius: 2px;
    background-color:rgb(106, 106, 106);
}

.right{
    text-align: right;
    width: 70px;
}

.finder{
    width: 15px;
    height: 15px;
}

form{
    display: flex;
    border-radius: 2px;
    background-color:rgb(106, 106, 106);
    color: white;
}

.triangle{
    width: 10px;
    height: 10px;
}